# 직사각형을 주사위로 채우기

In [1]:
def solution(box, n):
    answer = 0
    result = 1
    for i in box:
        result *= i//n
    answer = result    
    return answer

In [2]:
box = [10, 8, 6]
n = 3
solution(box, n)

12

# 합성수 찾기

In [3]:
def solution(n):
    answer = 0
    
    for i in range(1, n+1): # n까지의 자연수 중
        num = 0
        for j in range(1, i+1):
            if i%j == 0: # n 이하의 수로 나눴을 때 나누어 떨어지면
                num += 1 # num에 1더함
        if num>=3:       # 그러한 경우가 3번 이상이면
            answer += 1  # 합성수이므로 정답에 추가
            
    return answer

In [4]:
solution(15)

8

# 곱해서 최댓값이 나오도록

In [5]:
def solution(numbers):
    answer = 0
    
    numbers.sort()
    answer = numbers[-1]*numbers[-2]
    
    return answer

In [6]:
numbers = [1, 2, 3, 4, 5]
solution(numbers)

20

# i! < n인 i를 찾기

In [7]:
def solution(n):
    answer = 0
    
    def factorial(n):
        if n==1:
            return 1
        return n*factorial(n-1)
    
    for i in range(1, 12):
        if factorial(i) > n:
            return i-1

In [8]:
solution(3628800)

10

## Z를 만나면 직전에 더했던 숫자를 빼기

In [1]:
def solution(s):
    nums = s.split(" ")
    answer = int(nums[0])
    for i in range(1, len(nums)):
        if nums[i] != 'Z':
            answer += int(nums[i])
        else:
            answer -= int(nums[i-1])
    return answer

In [2]:
s = ["1 2 Z 3", "10 20 30 40", "10 Z 20 Z 1", "10 Z 20 Z", "-1 -2 -3 Z"]
for i in s:
    print(solution(i))

4
100
1
0
-3

## 주어진 변의 길이를 이용해 삼각형을 만들 수 있는가?

In [3]:
def solution(sides):
    answer = 2
    sides.sort()
    if sides[2] < sides[0]+sides[1]:
        answer = 1
    return answer

In [4]:
sides = [[1, 2, 3], [3, 6, 2], [199, 72, 222]]
for i in sides:
    print(solution(i))

2
2
1

## 가장 가까운 수

In [1]:
def solution(array, n):
    number = {}
    array.sort()
    for i in array:
        number[i] = abs(n - i)
    
    for i, v in number.items():
        if v == min(number.values()):
            return i

In [5]:
arrays = {20:[3, 10, 28], 13:[10, 11, 12], 9:[3, 6, 8, 10]}
for key, value in arrays.items():
    print(solution(value, key))

28
12
8

## 약수 구하기

In [6]:
def solution(n):
    answer = [i for i in range(1, n+1) if n%i == 0]
    
    return answer

In [7]:
nums = [24, 29]
for num in nums:
    print(solution(num))

[1, 2, 3, 4, 6, 8, 12, 24]
[1, 29]

## 가장 큰 수 찾기

In [1]:
def solution(array):
    answer = [max(array), array.index(max(array))]
    return answer

In [2]:
arrays = [[1, 8, 3], [9, 10, 11, 8]]
for array in arrays:
    print(solution(array))

[8, 1]
[11, 2]

## 문자열 수식 계산하기

In [3]:
def solution(my_string):
    arr = my_string.split(" ")
    answer = int(arr[0])
    
    for i in range(1, len(arr)-1, 2):
        if arr[i] == '+':
            answer += int(arr[i+1])
        else:
            answer -= int(arr[i+1])
    
    return answer

In [4]:
my_string = "3 + 4"
solution(my_string)

7

## 약수만 남기기

In [1]:
def solution(n, numlist):
    answer = [i for i in numlist if i%n == 0]
    
    return answer

# def solution(n, numlist):
#     return list(filter(lambda v: v%n==0, numlist))

In [2]:
n, numlist = 3, [4, 2, 5, 6, 8, 9 , 3]
solution(n, numlist)

[6, 9, 3]

## 자릿수 더하기

In [3]:
def solution(n):
    answer = 0
    
    # for i in str(n):
    #     answer += int(i)
    
    # answer = sum(list(map(int, str(n))))
    
    while n:
        n, r = divmod(n, 10)
        answer += r
    
    return answer

In [4]:
n = 1234
solution(n)

10

## 제곱 수 판별하기

In [5]:
def solution(n):
#     answer = 2
    
#     for i in range(1, 1001):
#         if n == (i*i):
#             answer = 1
    
#     return answer
    return 1 if (n**0.5).is_integer() else 2

In [6]:
solution(144)

1

In [7]:
solution(123)

2

## 시간당 2배씩 증식하는 세균

In [10]:
def solution(n, t):
#     answer = n
    
#     for i in range(1, t+1):
#         answer *= 2
    
#     return answer
    return n >> t
#     return (2**t)*n

In [11]:
solution(2, 10)

2048

In [13]:
solution(7, 4)

112