## 문자열 뒤집기

In [4]:
def solution(my_string):
    answer = ''
    
    str1 = [i for i in reversed(my_string)]
    answer = "".join(str1)
    
    return answer

In [5]:
my_string = "jaron"
print(solution(my_string))

noraj

## *로 직각 삼각형 만들기

In [6]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

5
*
**
***
****
*****

## 문자 반복 출력하기

In [13]:
def solution(my_string, n):
    answer = ''
    str1 = []
    
    for i in my_string:
        str1.append(i*n)
    
    answer = "".join(str1)
    
    return answer

In [14]:
my_string = "hello"
solution(my_string, 3)

'hhheeellllllooo'

## 특정 문자 제거하기

In [10]:
def solution(my_string, letter):
    answer = my_string.replace(letter, '')
    
    return answer

In [11]:
my_string, letter = "abcdeffnglish", "f"
solution(my_string, letter)

'abcdenglish'

## 영어를 숫자로 바꾸기

In [15]:
def solution(numbers):
    
    str1 = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    for i, v in enumerate(str1):
        numbers = numbers.replace(v, str(i))
    
    return int(numbers)

In [16]:
numbers = "onetwothreefourfivesixseveneightnine"
solution(numbers)

123456789

## 아스키코드 이용하여 숫자를 문자로 바꾸기

In [1]:
def solution(age):
    answer = ''
    
    strAge = str(age)
        
    for i in strAge:
        answer += chr(int(i) + 97)
    
    return answer

In [2]:
age = [23, 51, 100]
for i in age:
    print(solution(i))

cd
fb
baa

## 문자열에서 숫자만 골라내기

In [5]:
def solution(my_string):
    answer = []
    
    #97-122
    
    for i in my_string:
        if i >= 'a' and i <= 'z':
            continue
        else:
            answer.append(int(i))
            
    answer.sort()
    
    return answer

In [6]:
my_string = "hi12392"
solution(my_string)

[1, 2, 2, 3, 9]

## 문자열에서 숫자만 골라내어 더하기

In [12]:
def solution(my_string):
    answer = 0
    
    for i in my_string:
        if (i < 'A' or i > 'Z') and (i < 'a' or i > 'z'):
            answer += int(i)
    
    return answer

In [13]:
my_string = "hi12392"
solution(my_string)

17

## 문자열에서 모음 제거하기

In [7]:
def solution(my_string):
    answer = ''
    collections = ["a", "e", "i", "o", "u"]
    
    for i in my_string:
        
        if i not in collections:
            answer += i
    
    return answer

In [8]:
my_string = "nice to meet you"
solution(my_string)

'nc t mt y'