## 문자열 뒤집기

In [4]:
def solution(my_string):
    answer = ''
    
    str1 = [i for i in reversed(my_string)]
    answer = "".join(str1)
    
    return answer

In [5]:
my_string = "jaron"
print(solution(my_string))

noraj

## *로 직각 삼각형 만들기

In [6]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

5
*
**
***
****
*****

## 문자 반복 출력하기

In [13]:
def solution(my_string, n):
    answer = ''
    str1 = []
    
    for i in my_string:
        str1.append(i*n)
    
    answer = "".join(str1)
    
    return answer

In [14]:
my_string = "hello"
solution(my_string, 3)

'hhheeellllllooo'

## 특정 문자 제거하기

In [10]:
def solution(my_string, letter):
    answer = my_string.replace(letter, '')
    
    return answer

In [11]:
my_string, letter = "abcdeffnglish", "f"
solution(my_string, letter)

'abcdenglish'

## 영어를 숫자로 바꾸기

In [15]:
def solution(numbers):
    
    str1 = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    for i, v in enumerate(str1):
        numbers = numbers.replace(v, str(i))
    
    return int(numbers)

In [16]:
numbers = "onetwothreefourfivesixseveneightnine"
solution(numbers)

123456789

## 아스키코드 이용하여 숫자를 문자로 바꾸기

In [1]:
def solution(age):
    answer = ''
    
    strAge = str(age)
        
    for i in strAge:
        answer += chr(int(i) + 97)
    
    return answer

In [2]:
age = [23, 51, 100]
for i in age:
    print(solution(i))

cd
fb
baa

## 문자열에서 숫자만 골라내기

In [5]:
def solution(my_string):
    answer = []
    
    #97-122
    
    for i in my_string:
        if i >= 'a' and i <= 'z':
            continue
        else:
            answer.append(int(i))
            
    answer.sort()
    
    return answer

In [6]:
my_string = "hi12392"
solution(my_string)

[1, 2, 2, 3, 9]

## 문자열에서 숫자만 골라내어 더하기

In [12]:
def solution(my_string):
    answer = 0
    
    for i in my_string:
        if (i < 'A' or i > 'Z') and (i < 'a' or i > 'z'):
            answer += int(i)
    
    return answer

In [13]:
my_string = "hi12392"
solution(my_string)

17

## 문자열에서 모음 제거하기

In [7]:
def solution(my_string):
    answer = ''
    collections = ["a", "e", "i", "o", "u"]
    
    for i in my_string:
        
        if i not in collections:
            answer += i
    
    return answer

In [8]:
my_string = "nice to meet you"
solution(my_string)

'nc t mt y'

## 문자열 배열 원소의 길이 구하기

In [1]:
def solution(strlist):
    answer = []
    
    for i in strlist:
        answer.append(len(i))
    
    return answer

In [2]:
strlists = [["We", "are", "the", "world!"], ["I", "Love", "Programmers."]]
for strlist in strlists:
    print(solution(strlist))

[2, 3, 3, 6]
[1, 4, 12]

## 중본된 문자 제거

In [3]:
def solution(my_string):
    answer = ''
    
    for i in my_string:
        if i not in answer:
            answer += i
    
    return answer

In [4]:
my_strings = ["people", "We are the world"]
for my_string in my_strings:
    print(solution(my_string))

peol
We arthwold

## 3, 6, 9가 있으면 박수 치기

In [1]:
def solution(order):
    answer = 0
    
    for i in str(order):
        if i in ["3", "6", "9"]:
            answer += 1
    
    return answer

In [2]:
orders = [3, 29423]
for order in orders:
    print(solution(order))

1
2

## 암호 해독

In [3]:
def solution(cipher, code):
    answer = ''
    
    for i in range(len(cipher)):
        if (i+1)%code == 0:
            answer += cipher[i]
    
    return answer

In [4]:
ciphers = {"dfjardstddetckdaccccdegk":4, "pfqallllabwaoclk":2}
for key, value in ciphers.items():
    print(solution(key, value))

attack
fallback

## 대문자 <-> 소문자

In [5]:
def solution(my_string):
    answer = ''
    
    for i in my_string:
        if i >= 'a' and i <= 'z':
            answer += i.upper()
        else:
            answer += i.lower()
    
    return answer

In [6]:
my_strings = ["cccCCC", "abCdEfghIJ"]
for my_string in my_strings:
    print(solution(my_string))

CCCccc
ABcDeFGHij

## 문자열 자리 바꾸기

In [10]:
def solution(my_string, num1, num2):
    answer = ''
    
#     for i,v in enumerate(my_string):
#         if i != num1 and i != num2:
#             answer += v
#         elif i == num1:
#             answer += my_string[num2]
#         else:
#             answer += my_string[num1]
            
    strArr = list(my_string)
    strArr[num1], strArr[num2] = strArr[num2], strArr[num1]
    answer = "".join(strArr)
            
    return answer

In [11]:
solution("hello", 1, 2)

'hlelo'

In [12]:
solution("I love you", 3, 6)

'I l veoyou'

## 한 번만 등장한 문자

In [14]:
def solution(s):

    # count() 메서드 쓰지 않았을 때
#     idx = {}
#     arr = []
    
#     for i in s:
#         idx[i] = 0
        
#     for i in s:
#         idx[i] += 1
            
#     for i, v in idx.items():
#         if v == 1:
#             arr.append(i)
#         else:
#             continue
            
#     arr.sort()
#     answer = "".join(arr)
    
    # count() 메서드 썼을 때
    answer = "".join(sorted([ch for ch in s if s.count(ch) == 1]))
    
    return answer

In [16]:
ss = ["abcabcadc", "abdc","hello" ]
for s in ss:
    print(solution(s))

d
abcd
eho

## 배열의 유사도

In [1]:
def solution(s1, s2):
#     answer = 0
    
#     for i in s1:
#         if i in s2:
#             answer += 1

    answer = len(set(s1)&set(s2)) # 교집합의 길이 구하기
    
    return answer

In [2]:
s1, s2 = ["a", "b", "c"], ["com", "b", "d", "p", "c"]
solution(s1, s2)

2

In [3]:
s1, s2 = ["n", "omg"], ["m", "dot"]
solution(s1, s2)

0

## 편지지 길이

In [4]:
def solution(message):
    answer = len(message) * 2
    return answer

In [5]:
messages = ["happy birthday!", "I love you~"]
for message in messages:
    print(solution(message))

30
22

## 문자의 위치 찾기

In [1]:
def solution(num, k):
    
#     for i, v in enumerate(str(num)):
#         if int(v) == k:
#             return i+1
            
#     return -1
    
    return -1 if str(k) not in str(num) else str(num).find(str(k)) + 1

In [2]:
num, k = 38139412, 9
solution(num, k)

5

## 문자열 안에 문자열

In [1]:
def solution(str1, str2):
    answer = 0
    
    if str2 in str1 : answer = 1 # 문자열이 있으면 1
    else : answer = 2            # 문자열이 없으면 2
    
    return answer

In [2]:
solution("dfaj39alDs", "abc")

2

In [4]:
solution("연어초밥", "초밥")

1

## 문자열 정렬하기

In [5]:
def solution(my_string):
    answer = "".join(sorted(my_string.lower()))
    
    return answer

In [6]:
solution("I am a good girl")

'    aadggiilmoor'

## 7의 갯수

In [5]:
def solution(array):
#     answer = 0
#     array2 = []
#     for i in array:
#         array2.append(str(i))
    
#     string = ''.join(array2)
    
#     for i in string:
#         if i == '7':
#             answer += 1
    
#     return answer
    return ''.join(map(str, array)).count('7')

In [6]:
solution([7, 17, 77, 0])

4